# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/

# VSCode settings
.vscode/

# Flask/WSGI logs
*.log

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python egg info
*.egg-info/
dist/
build/
.eggs/

# Environment variables or secret keys (if any)
.env
